APP_ENV=development
APP_PORT=8080
GIN_MODE=debug
JWT_SECRET=dev-secret-change-me
JWT_EXPIRES_IN_MINUTES=60

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=worksphere
POSTGRES_PORT=5432

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=worksphere
DB_SSL_MODE=disable
